@{
    ViewData["Title"] = "Home Page";
}

<main class='flex justify-center mt-[20vh]'>
    <div class='text-3xl rounded-md px-2 py-6 bg-gradient-to-r from-indigo-400 via-purple-400 to-pink-400 hover:drop-shadow-xl'>
        Your one stop solution for Job Tracking!
    </div>
</main>
